<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/styles/gamestudio.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/styles/header.css}">
</head>

<main>
  <header th:replace="fragments/fragments::gsheader"></header>

  <body class="content" layout:fragment="content"></body>

  <footer th:replace="fragments/fragments::gsfooter"></footer>
</main>

</html>