.cardMaros span {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #ddd;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  line-height: 80px;
  transition: 250ms ease-in-out;
  border-radius: 6px;
}
.notFlipped:hover span{
  transform: scale(0.8);
  box-shadow: 9px 13px 6px 2px black;
}
.flipped span{
  box-shadow: 9px 13px 6px 2px lightgreen!important;
  transition: box-shadow 1s ease-in-out;
}
.notFlipped span{
  box-shadow: 9px 13px 6px 2px blue;
}
.bg-success {
    background-color: #28a745 !important;
}
.c0 span:before {
  content: '\1F427';
}
.c1 span:before {
  content: '\1F601';
}
.c2 span:before {
  content: '\1F525';
}
.c3 span:before {
  content: '\1F981';
}
.c4 span:before {
  content: '\23F0';
}
.c5 span:before {
  content: '\261D';
}
.c6 span:before {
  content: '\26C4';
}
.c7 span:before {
  content: '\26EA';
}
.c8 span:before {
  content: '\270C';
}
.c9 span:before {
  content: '\1F32D';
}
.c10 span:before {
  content: '\1F333';
}
.c11 span:before {
  content: '\1F34C';
}
.c12 span:before {
  content: '\1F35F';
}
.c13 span:before {
  content: '\1F37A';
}
.c14 span:before {
  content: '\1F385';
}
.c15 span:before {
  content: '\1F40C';
}
.c16 span:before {
  content: '\1F414';
}

