<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Comment table</title>
</head>

<body>

  <div th:fragment="serviceTables(game)">

      <!-- ratings -->
      <div class="avg-rating" >
        <div>
          <h4 id="rating"></h4>
        </div>
    
        <form class="rating-form" id="rating-select">
          <button type="button" id="rating-button" th:onclick="submitRating([[${game}]])">rate</button>
    
          <input type="hidden" name="game" th:value="${game}">
    
          <input type="radio" id="option1" name="rating" value=5>
          <label for="option1"> <i class="fa-solid fa-star"></i> </label>
    
          <input type="radio" id="option2" name="rating" value=4>
          <label for="option2"> <i class="fa-solid fa-star"></i> </label>
    
          <input type="radio" id="option3" name="rating" value=3>
          <label for="option3"> <i class="fa-solid fa-star"></i> </label>
    
          <input type="radio" id="option4" name="rating" value=2>
          <label for="option4"> <i class="fa-solid fa-star"></i> </label>
    
          <input type="radio" id="option5" name="rating" value=1>
          <label for="option5"> <i class="fa-solid fa-star"></i> </label>
          <p> rate: </p>
        </form>
      </div>
  
  <!-- score table -->
  <table class="main-table scores-table">
    <thead>
      <h2>High Scores</h2>
      <tr>
        <th><i class="fa-regular fa-user"></i> player</th>
        <th><i class="fa-solid fa-trophy"></i> points</th>
        <th><i class="fa-regular fa-calendar"></i> played on</th>
      </tr>
    </thead>
    <tbody id="score-table-body">
    </tbody>
  </table>
  
    <!-- comment form -->
    <form class="comment-form" id="comment-form">
      <h2>Post a Comment</h2>
      <input type="text" name="player" placeholder="Enter your name" required />
      <textarea name="comment" placeholder="Enter your comment" required></textarea>
      <button type="button" id="comment-submit" th:onclick="submitComment([[${game}]])">Post Comment</button>
    </form>

    <!-- comment table-->
    <table class="main-table comments-table">
      <thead>
        <h2>Comments</h2>
      </thead>
      <tbody id="comment-table-body"></tbody>
    </table>

  </div>

</body>

</html>