<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
</head>
<body>

<header class="header" th:fragment="gsheader">

  <div class="header-title">
    <a href="/"><h1><i class="fa-brands fa-jedi-order"></i> Game Studio</h1></a>
  </div>

  <div class="header-user">
    <div th:if="${@userController.logged}"class="header-user-item">
      <i class="fa-solid fa-user-secret"></i> <span th:text="${@userController.loggedUser}"></span>
      <div class="header-user-link">
        <a href="/logout">Log out <i class="fa-solid fa-person-through-window"></i></a>
      </div>
    </div>
    
    <div th:if="not ${@userController.logged}" class="header-user-item">
      <p> Logged out </p>
      <div class="header-user-link">
        <a href="/">log in <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
      </div>
    </div>
  </div>

</header>

<!--
<header th:fragment="gsheader">
    <h1>Game Studio</h1>

    <div th:if="${logged}">
        Logged as <span th:text="${username}">.</span>
        <a href="/logout">Log out.</a>
    </div>
    <div th:if="not ${logged}">
        Logged out. Please, <a href="/">log in</a>.
    </div>

</header>
-->


<footer th:fragment="gsfooter">
    <hr />
    GameStudio ver.FPTacad 2023-03
</footer>

</body>
</html>