<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutGameStudio.html}"
      lang="en">
<head>
    <title>GameStudio - 2048</title>
    <link th:href="@{styles/game2048Honza/style2048.css}" rel="stylesheet"/>

</head>
<body>

<main layout:fragment="content">
    <h2>2048</h2>
    <a class="button" onclick="newGame()"><button>New game</button></a>
    <div id="gamestate"></div>
    <div id="minefield" class="minefield"></div>
    <p> Controls : Arrows (up, down, left, right) </p>

    <script type="text/javascript" th:src="@{script/game2048Honza/2048.js}"></script>
</main>

</body>
</html>