<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
  <title>GameStudio - Battleship</title>
  <link th:href="@{/styles/battleship/main.css}" rel="stylesheet" />
</head>
<body>


<div class="top-bar">
  <a href="/"><h1>Battleship</h1></a>
  <div class="login-user" th:if="${@userController.logged}">
    <a th:href="@{/logout}" style="text-decoration:none;color:white;">
      <span th:text="${@userController.loggedUser}"></span>
    </a>
  </div>
  <div class="login-user" th:if="not ${@userController.logged}">
    Logged out
  </div>
</div>

  <div class="titles">
    <h2>Enemy</h2>
    <h2>Player</h2>
  </div>
  <div class="comments-field">
    <div class="comments">
      <h2>Comments</h2>
      <ul>
        <li th:each="comment: ${@battleShipController.showComments()}">
          <div class="comment">
            <div class="date" th:text="${comment.getCommentedOn()}"></div>
            <div class="author" th:text="${comment.getPlayer()}"></div>
            <div class="content" th:text="${comment.getComment()}"></div>
          </div>
        </li>
      </ul>
    </div>


    <section class="seafield">
      <table class='minefield'>
        <tr th:each="row: ${@battleShipController.getEnemyFieldTiles()}">
          <td th:each="tile: ${row}" th:attr="class=${@battleShipController.getTileClass(tile)}">
            <a th:if="${tile.isNotOpen()} and ${@battleShipController.isPlaying()}"
               th:href="@{/ship(row=${rowStat.index}, column=${tileStat.index})}">
              <span th:text="${@battleShipController.getTileText(tile)}"></span>
            </a>
            <span th:if="not(${tile.isNotOpen()} and ${@battleShipController.isPlaying()})"
                  th:text="${@battleShipController.getTileText(tile)}">
                  <span th:if="${tile.getState() == 'WATER'}"></span>
            </span>
          </td>
        </tr>
      </table>

      <table class='minefield'>
        <tr th:each="row: ${@battleShipController.getPlayerFieldTiles()}">
          <td th:each="tile: ${row}" th:attr="class=${@battleShipController.getTileClassPlayer(tile)}">
          </td>
        </tr>
      </table>
    </section>

    <div class="comment-form">
      <div class="game">
        <h2>Leave a Comment</h2>
        <form th:action="@{/ship/submitComment}" method="post">
          <label for="comment" style="font-family: impact, sans-serif;">Comment:</label><br>
          <textarea id="comment" name="commentText" th:value="${commentText}"></textarea><br>
          <input type="submit" style="font-family: impact, sans-serif;" value="Submit">
        </form>

      </div>
    </div>
  </div>

  <div class ="buttons-fields">
    <h2 th:text="${@battleShipController.getNumberOfEnemyTiles()}"></h2>
    <a href="/ship/new" class="play-btn">New Game</a>
    <h2 th:text="${@battleShipController.getNumberOfPlayerTiles()}"></h2>
  </div>


  <div class="slide-rating">
    <h2>Rate a Game</h2>
    <form th:action="@{/ship/rating}" method="post">
      <input type="range" min="1" max="5" value="1" class="slider" id="myRange" name="ratingValue">
      <div class="rating-btn">
        <input type="submit" style="font-family: impact, sans-serif;" value="Submit" name="submitRating">
        <input type="submit" style="font-family: impact, sans-serif;" value="Get Rating" name="getRating">
        <input type="submit" style="font-family: impact, sans-serif;" value="Average Rating" name="getAverageRating">
      </div>
    </form>
    <div class="rating-value">
      <h3 th:text="${ratingValue != null ? 'Value: ' + ratingValue : 'Value:'}"></h3>
    </div>
  </div>


  <div class="table-score">
    <h2>Top 10 Scores</h2>
    <table>
      <thead>
      <tr class="table-head">
        <th class="column1">Player</th>
        <th class="column2">Score</th>
        <th class="column3">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="score: ${@battleShipController.getTopScores()}">
        <td class="column1" th:text="${score.getPlayer()}"></td>
        <td class="column2" th:text="${score.getPoints()}"></td>
        <td class="column3" th:text="${score.getPlayedOn()}"></td>
      </tr>
      </tbody>
    </table>
  </div>

</body>
</html>





