<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.com"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/layoutGameStudio.html}"
       lang="en">
<head>
  <title>GameStudio - Connect</title>
</head>
<body>

<main layout:fragment="content">

  <!--/*@thymesVar id="connectController" type="sk.tuke.gamestudio.server.controller.ConnectController"*/-->
  <h2>Connect: <span th:style="${@connectController.getPlayingStyle()}"
                     th:text="${@connectController.getState()}"></span></h2>

  <a class="abutton" href="/connect/new">New game</a>

  <section>
    <table  class='minefield'>
      <tr th:each="row: ${@connectController.fieldTiles}">
        <td th:each="tile: ${row}"
            th:style="${@connectController.getTileStyle(tile)}">
          <a th:if="${@connectController.isPlaying()}"
             th:href="@{/connect(row=${rowStat.index}, column=${tileStat.index})}">
            <span th:text="${@connectController.getTileText(tile)}"></span>
          </a>
          <span th:if="not(${@connectController.isPlaying()})"
                th:text="${@connectController.getTileText(tile)}"></span>
        </td>
      </tr>
    </table>
  </section>
  <section>
    <span th:if="${@userController.isLogged()}">
      <form action="/connect/comment" method="post">
        Leave a comment: <input type="text" name="comment"/><br/>
        <input type="submit"/>
      </form>
      <form action="/connect/rating" method="post">
        Leave a rating: <input type="number" name="rating" min="1" max="5" required /><br/>
        <input type="submit"/>
      </form>


      <!--    <p>Your rating:</p>-->
      <!--    <h2><span th:utext="${@userController.getUserRating()}"/></h2>-->
</span>

    <p>Users rated:</p>
    <h2><span th:utext="${@connectController.getAverageRating()}"/></h2> <br>


    <h3>Best Scores</h3>

    <table class="scores">
      <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Score</th>
        <th>Date and time</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="score: ${@connectController.getTopScores()}">
        <td th:text="${scoreStat.index+1}"></td>
        <td th:text="${score.player}"></td>
        <td th:text="${score.getPoints()}"></td>
        <td th:text="${score.getPlayedOn()}"></td>
      </tr>
      </tbody>
    </table>

    <h3>Comments</h3>

    <table class="scores">
      <thead>
      <tr>
        <th>Name</th>
        <th>Comment</th>
        <th>Date and time</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="comment: ${@connectController.getComments()}">
        <td th:text="${comment.player}"></td>
        <td th:text="${comment.getComment()}"></td>
        <td th:text="${comment.getCommentedOn()}"></td>
      </tr>
      </tbody>
    </table>
  </section>
</main>
</body>
</html>