<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.com"
  layout:decorate="~{layout/layoutGameStudio.html}" lang="en">

<head>
  <title>GameStudio - every game you can imagine!</title>

  <link rel="stylesheet" th:href="@{/styles/gamemenu.css}">
  <link rel="stylesheet" th:href="@{/styles/hero.css}">

  <script defer th:src="@{/script/gameMenuList.js}"></script>
</head>

<body>
  <main layout:fragment="content">

    <div th:replace="~{fragments/_hero}"></div>

    <!-- games -->

    <!--
      add game in:
      static\script\gameMenuList.js

      icons:
      fontawesome.com/search?o=r&m=free
     -->

    <div class="games-menu"></div>


  </main>
</body>

</html>