<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <title>GameStudio - every game you can imagine!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- this is where we refer the css file from src/main/resources/static/styles/tailwind.css -->
    <link th:href="@{/styles/gamestudio.css}" rel="stylesheet" />
</head>
<body>

<header th:replace="fragments/fragments::gsheader"></header>

<h2>Welcome!</h2>




<form action="/login" method="post">
    <label for="login"> Login: </label> <input type="text" id="login" name="login" required /> <br />
    <label for="password"> Password: </label> <input type="password" id="password" name="password" required /> <br />
    <button type="submit">Log in</button>
</form>



<h2>Games</h2>
Please select a game:
<ul>
    <li><a href="/mines">Minesweeper</a></li>
    <li>15 Puzzle</li>
    <li>Lights Out</li>
    <li>1024</li>
</ul>

<footer th:replace="fragments/fragments::gsfooter"></footer>


</body>
</html>