<!DOCTYPE HTML>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.com"
       layout:decorate="~{layout/layoutGameStudio.html}"
       lang="en">
<head>
    <title>GameStudio - every game you can imagine!</title>
</head>
<body>

<main layout:fragment="content">

<h2>Welcome!</h2>




<form action="/login" method="post">
    <label for="login"> Login: </label> <input type="text" id="login" name="login" required /> <br />
    <label for="password"> Password: </label> <input type="password" id="password" name="password" required /> <br />
    <button type="submit">Log in</button>
</form>



<h2>Games</h2>
Please select a game:
<ul>
    <li><a href="/mines">Minesweeper</a></li>
    <li><a href="/mines/asynch">Minesweeper (asynchronous mode with JavaScript)</a></li>
    <li>15 Puzzle</li>
    <li>Lights Out</li>
    <li>1024</li>
</ul>


</main>

</body>
</html>