<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mastermind</title>
  <link rel="stylesheet" href="/static/mastermind/mastermind.css">
</head>
<body>
<div id="game">
  <header>
    <h1>Mastermind</h1>
  </header>
  <main></main>
  <footer>
    <div id="div-select-color"></div>
    <input id="submit-btn" type="button" value="Submit" />
  </footer>
</div>


<div id="menu-btn-container">
  <button class="menu-btn" onclick="init()">Restart</button>
  <button class="menu-btn" formaction="/index">Home</button>
  <button class="menu-btn" onclick="setAndStartNewGame()">Own Setting</button>
</div>

<script src="/static/mastermind/mastermind.js"></script>
</body>
</html>