<!DOCTYPE html>
<html
        layout:decorate="~{layout/layoutGameStudio.html}"
        xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en">
<head>
  <title>Mastermind</title>
  <link rel="stylesheet" th:href="@{mastermind/mastermind.css}">
</head>
<body>
<th:block layout:fragment="content">
<div id="game">
  <header>
    <h1>Mastermind</h1>
  </header>
  <main></main>
  <footer>
    <div id="div-select-color"></div>
    <input id="submit-btn" type="button" value="Submit" />
  </footer>
</div>


<div id="menu-btn-container">
  <button class="menu-btn" onclick="init()">Restart</button>
  <a href="/">
  <button class="menu-btn">Home</button>
  </a>
  <button class="menu-btn" onclick="setAndStartNewGame()">Own Setting</button>
</div>

<script th:src="@{mastermind/mastermind.js}"></script>
</th:block>
</body>
</html>