<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <title>GameStudio - Minesweeper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- this is where we refer the css file from src/main/resources/static/styles/tailwind.css -->
    <link th:href="@{/styles/gamestudio.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments/fragments::gsheader"></header>
<!--/*@thymesVar id="minesController" type="sk.tuke.gamestudio.server.controller.MinesController"*/-->
<h2>Minesweeper</h2>

<a class="abutton" th:if="not ${@minesController.marking}" href="/mines/chmode">Change to mark</a>
<a class="abutton" th:if="${@minesController.isMarking()}" href="/mines/chmode">Change to open</a>
<a class="abutton" href="/mines/new">New game</a>


<!--<section th:utext="${@minesController.getHtmlField()}"></section>-->

<section>
    <table  class='minefield'>
        <tr th:each="row: ${@minesController.fieldTiles}">
            <td th:each="tile: ${row}" th:attr="class=${@minesController.getTileClass(tile)}">
                <a th:if="${tile.isNotOpen()} and ${@minesController.isPlaying()}"
                   th:href="@{/mines(row=${rowStat.index}, column=${tileStat.index})}">
                    <span th:text="${@minesController.getTileText(tile)}"></span>
                </a>
                <span th:if="not(${tile.isNotOpen()} and ${@minesController.isPlaying()})"
                      th:text="${@minesController.getTileText(tile)}"></span>
            </td>
        </tr>
    </table>
</section>

<section>
    <h3>Best Scores</h3>

    <table class="scores">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Score</th>
            <th>Date and time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score: ${@minesController.getTopScores()}">
            <td th:text="${scoreStat.index+1}"></td>
            <td th:text="${score.player}"></td>
            <td th:text="${score.getPoints()}"></td>
            <td th:text="${score.getPlayedOn()}"></td>
        </tr>
        </tbody>
    </table>
</section>

<footer th:replace="fragments/fragments::gsfooter"></footer>
</body>
</html>