<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.com"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/layoutGameStudio.html}"
       lang="en">
<head>
    <title>GameStudio - Minesweeper</title>
</head>
<body>

<main layout:fragment="content">

<!--/*@thymesVar id="minesController" type="sk.tuke.gamestudio.server.controller.MinesController"*/-->
<h2>Minesweeper</h2>

<button class="abutton" id="btChMode" onclick="processModeChangeClick()">Change to mark</button>
<button class="abutton" id="btNew" onclick="processNewGameClick()">New game</button>




<section id="minesField">
</section>

<section>
    <h3>Best Scores</h3>

    <table class="scores">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Score</th>
            <th>Date and time</th>
        </tr>
        </thead>
        <tbody id="scoresTableBody">
        </tbody>
    </table>
</section>



<script type="text/javascript">
    const minesField = document.getElementById("minesField");
    const scoresTableBody = document.getElementById("scoresTableBody");
    const btChMode = document.getElementById("btChMode");
    const btNew = document.getElementById("btNew");

    //const serverUrl="http://localhost:8080";
    const serverUrl="";//if from the same server as this page

    const getBestScoresJsonUrl =serverUrl+"/api/score/mines";
    const getGameFieldUrl =serverUrl+"/mines/json";
    const chModeUrl =serverUrl+"/mines/jsonchmode";

    fetchAndRenderBestScores();

    fetchGameFieldAndRenderAll();

    function fetchAndRenderBestScores(){
        fetch(getBestScoresJsonUrl)
            .then(response => {
                if(response.ok){
                    return(response.json());
                }else{
                    return Promise.reject(new Error('Best scores acquisition failed. Server answered with status '+response.status));
                }
                }
            )
            .then(bestScoresData =>{
                //console.log(bestScoresData);
                renderBestScores(bestScoresData,scoresTableBody);
            })
            .catch(error =>{
                //console.error(error);
                const errorMessage = "Failed to get or render best scores. Details:"+error;
                scoresTableBody.innerHTML=errorMessage;
            })

    }



    function renderBestScores(bestScoresData, renderTo){
        const rowCount = bestScoresData.length;
        let html2render="";
        for(let row=0; row<rowCount;row++){
            html2render+=
                `
                <tr>
                <td>${row+1}</td>
                <td>${bestScoresData[row].player}</td>
                <td>${bestScoresData[row].points}</td>
                <td>${bestScoresData[row].playedOn}</td>
                </tr>
                `
        }
        renderTo.innerHTML=html2render;
    }

    function fetchGameFieldAndRenderAll(row, col){
        let getGameFieldUrlWParams = getGameFieldUrl;
        if(Number.isInteger(row) && Number.isInteger(col)){
            getGameFieldUrlWParams = `${getGameFieldUrlWParams}?row=${row}&column=${col}`;
            console.log(getGameFieldUrlWParams);
        }
        fetch(getGameFieldUrlWParams)
            .then(response => {
                    if(response.ok){
                        return(response.json());
                    }else{
                        return Promise.reject(new Error('Game field acquisition failed. Server answered with status '+response.status));
                    }
                }
            )
            .then(gameFieldData =>{
                console.log(gameFieldData);
                renderGameField(gameFieldData, minesField);
                changeBtChModeLabel(gameFieldData.marking);
                if(gameFieldData.justFinished){
                    fetchAndRenderBestScores();
                }
            })
            .catch(error =>{
                console.error(error);
                let errorMessage = "Failed to get or render the game field. Details:"+error;
                minesField.innerHTML=errorMessage;
            })

    }

    function renderGameField(gameFieldData, renderTo){
        let html2render="<table class='minefield'>\n";
        for (let row=0;row<gameFieldData.rowCount;row++){
            html2render+="<tr>\n";
            for (let col=0;col<gameFieldData.columnCount;col++){
                let onClickHandling ="";

                if(gameFieldData.state=="PLAYING" && gameFieldData.tiles[row][col].state!="OPEN"){
                    onClickHandling=`onclick='processTileClick(${row},${col})'`;
                }

                html2render+=
                    `
                        <td class ='${getTileClass(gameFieldData.tiles[row][col])}' ${onClickHandling}>
                            <span>
                                ${getTileText(gameFieldData.tiles[row][col])}
                            </span>
                        </td>
                        `;
            }
            html2render+="</tr>\n";
        }
        html2render+="</table>\n";

        renderTo.innerHTML=html2render;

    }

    function  getTileText(tile) {
        switch (tile.state) {
            case "OPEN":
                if (tile.value!= undefined)
                    return "" + tile.value;
                else
                    return "X";
            case "CLOSED":
                return "-";
            case "MARKED":
                return "M";
            default:
                return "?";
        }
    }

    function  getTileClass(tile) {
        switch (tile.state) {
            case "OPEN":
                if (tile.value!= undefined)
                    return "open" + tile.value;
                else
                    return "mine";
            case "CLOSED":
                return "closed";
            case "MARKED":
                return "marked";
            default:
                return "unknown";
        }
    }

    function changeBtChModeLabel(marking){
        if(marking){
            btChMode.innerHTML="Change to open";
        }else {
            btChMode.innerHTML="Change to mark";
        }
    }

    function processTileClick(row,col){
        fetchGameFieldAndRenderAll(row,col);
    }

    function processModeChangeClick(){
        fetch(chModeUrl)
        .then(response => {
                if(response.ok){
                    return(response.json());
                }else{
                    return Promise.reject(new Error('Mode change failed. Server answered with status '+response.status));
                }
            }
        )
        .then(gameFieldData =>{
            changeBtChModeLabel(gameFieldData.marking);
        })
        .catch(error =>{
            console.error(error);
            let errorMessage = "Failed to change game mode. Details:"+error;
            minesField.innerHTML=errorMessage;
        })

    }

    function processNewGameClick(){
        //todo
        console.log("processNewGameClick not implemented!");
    }

</script>

</main>

</body>
</html>