<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.com"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/layoutGameStudio.html}"
       lang="en">
<head>
    <title>GameStudio - Minesweeper</title>
</head>
<body>

<main layout:fragment="content">

<!--/*@thymesVar id="minesController" type="sk.tuke.gamestudio.server.controller.MinesController"*/-->
<h2>Minesweeper</h2>

<a class="abutton" th:if="not ${@minesController.marking}" href="/mines/chmode">Change to mark</a>
<a class="abutton" th:if="${@minesController.isMarking()}" href="/mines/chmode">Change to open</a>
<a class="abutton" href="/mines/new">New game</a>



<section>
    <table  class='minefield'>
        <tr th:each="row: ${@minesController.fieldTiles}">
            <td th:each="tile: ${row}" th:attr="class=${@minesController.getTileClass(tile)}">
                <a th:if="${tile.isNotOpen()} and ${@minesController.isPlaying()}"
                   th:href="@{/mines(row=${rowStat.index}, column=${tileStat.index})}">
                    <span th:text="${@minesController.getTileText(tile)}"></span>
                </a>
                <span th:if="not(${tile.isNotOpen()} and ${@minesController.isPlaying()})"
                      th:text="${@minesController.getTileText(tile)}"></span>
            </td>
        </tr>
    </table>
</section>

<section>
    <h3>Best Scores</h3>

    <table class="scores">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Score</th>
            <th>Date and time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score: ${@minesController.getTopScores()}">
            <td th:text="${scoreStat.index+1}"></td>
            <td th:text="${score.player}"></td>
            <td th:text="${score.getPoints()}"></td>
            <td th:text="${score.getPlayedOn()}"></td>
        </tr>
        </tbody>
    </table>
</section>

</main>

</body>
</html>