<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutGameStudio.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
    <link rel="stylesheet" href="/styles/puzzle/puzzle.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            max-width: 100rem;
        }
    </style>
</head>
<body class="puzzle">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<main layout:fragment="content">

    <div class="container-fluid text-center">

        <div class="row">
            <div class="col-12">
                <h1>WELCOME</h1>
            </div>

            <div class="w3-container w3-light-grey">
                <h2 style="text-shadow:1px 1px 0 #444">PUZZLE FIFTEEN</h2>
            </div>
        </div>


        <div class="w3-panel w3-green w3-display-container" th:if="${@puzzleController.isSaved}">
              <span onclick="this.parentElement.style.display='none'"
                    class="w3-button w3-large w3-display-topright">&times;</span>
            <h3>Game was saved successfully</h3>
        </div>

        <div class="w3-panel w3-green w3-display-container" th:if="${@puzzleController.isLoaded}">
              <span onclick="this.parentElement.style.display='none'"
                    class="w3-button w3-large w3-display-topright">&times;</span>
            <h3>Game was load successfully</h3>
        </div>

        <div class="w3-panel w3-gray w3-display-container w3-right-align" th:if="${@puzzleController.checkWin}">
  <span onclick="this.parentElement.style.display='none'"
        class="w3-button w3-large w3-display-topright">&times;</span>
            <h3>YOU ARE WIN!</h3>
        </div>


        <div class="w3-container">
            <div class="row w3-margin">
                <div class="col-5">
                    <a href="puzzle/new" class="w3-button w3-yellow m3 w3-padding-16"
                       role="button">NEW GAME</a>
                    <a href="puzzle/save" class="w3-button w3-purple m3 w3-padding-16"
                       aria-pressed="true" role="button">SAVE GAME</a>

                    <a href="puzzle/load" class="w3-button w3-deep-purple m3 w3-padding-16"
                       role="button" aria-pressed="true">LOAD GAME</a>
                </div>
                <div class="col-5">
                    <button class="btn btn-success btn-lg btn-block">
                        Steps <span class="badge badge-light" th:utext="${@puzzleController.getCountOfMove()}"></span>
                    </button>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col s9 w3-center">
                    <div th:utext="${@puzzleController.getPuzzleField()}"></div>
                </div>

                <div class="w3-col s3 w3-center">
                    <div class="w3-container w3-light-grey">
                        <h2 style="text-shadow:1px 1px 0 #444">RATING</h2>
                    </div>
                    <table class="w3-table-all w3-xlarge">
                        <thead class="thead-dark">
                        <tr>
                            <th>Game</th>
                            <th>Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>PUZZLE-FIFTEEN</td>
                            <td th:text="${@puzzleController.getAvverageRating()}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <form class="w3-container" action="#" th:action="@{/puzzle/ratings}" th:method="post">
                        <div class="w3-container w3-light-grey">
                            <h2 style="text-shadow:1px 1px 0 #444">INPUT YOUR RATING</h2>
                        </div>
                        <select name="game" style="border-bottom-color: #42ab3e">
                            <option th:value="'PUZZLE_FIFTEEN'" th:text="PUZZLE_FIFTEEN"></option>
                        </select>
                        <select name="ratingValue">
                            <option th:each="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}"></option>
                        </select>
                        <input type="submit" value="Pridaj">
                    </form>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col s6 w3-center">
                    <div class="w3-container w3-light-grey">
                        <h2 style="text-shadow:1px 1px 0 #444">SCORE</h2>
                    </div>
                    <table class="w3-table w3-striped w3-border">
                        <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Player</th>
                            <th>Game</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="score : ${@puzzleController.getTopScores()}">
                            <td th:text="${scoreStat.index+1}" scope="col"></td>
                            <td th:text="${score.player}" scope="col"></td>
                            <td th:text="${score.game}"></td>
                            <td th:text="${score.points}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="w3-col s6 w3-center">
                    <div class="w3-container w3-light-grey">
                        <h2 style="text-shadow:1px 1px 0 #444">INPUT YOUR COMMENT</h2>
                    </div>
                    <form class="w3-container" th:action="@{/puzzle/comments}" method="post">
                        <label for="comment">Comment:</label><br>
                        <textarea id="comment" name="commentText" th:value="${commentText}"></textarea><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>


            <div class="col">
                <div class="w3-container w3-light-grey">
                    <h2 style="text-shadow:1px 1px 0 #444">COMMENTS</h2>
                </div>
                <table class="w3-table w3-striped w3-border">
                    <thead class="thead-dark">
                    <tr>
                        <th>Player</th>
                        <th>Game</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="comment: ${@puzzleController.getPuzzleComments()}">
                        <td th:text="${comment.player}" scope="col"></td>
                        <td th:text="${comment.game}"></td>
                        <td th:text="${comment.comment}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</main>

</body>
</html>
